section {
  margin-top: 70px;
  margin-bottom: 90px;
}
/* tentang */
.fasilitas {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.fasilitas:hover {
  background: #4366ff;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.fasilitas .description {
  text-align: right;
  flex: 3 1;
  padding: 10px 20px 10px 10px;
}

.fasilitas .description.icon-left {
  order: 1;
  text-align: left;
}

.fasilitas .icon-des {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgb(111, 71, 255);
}

.fasilitas:hover .icon-des {
  background-color: white;
}

.fasilitas.active .icon-des {
  background-color: white;
}

.fasilitas .icon-des img {
  margin-top: 15px;
  height: 50px;
  width: auto;
}

/* keuangan */
.tentang .deksripsi {
  font-size: 18px;
  line-height: 25px;
}

.tentang ul.social {
  list-style: none;
  display: inline-flex;
}

.tentang ul.social li{
    margin-right: 16px;
    padding: 0;
}


.alumni .card{
  transition: .3s;
}
.alumni .card:hover{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.alumni .card .card-body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.alumni .card .card-body img{
  height: 200px;
  width: 200px;
  border: 2px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  box-shadow: 0 20px 5px rgba(0, 0, 0, 0.4);
}

footer{
  background-color: #272727;
  color: #fff;
}

footer h3{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

footer ul{
  list-style: none;
  padding: 0;
  color: white;
}

footer ul li{
  margin-bottom: 8px;
}

footer ul li i{
  margin-right: 6px;
}
